.booking-modal {
  padding: 8px 10px 10px 8px;
  position: static;

  &__close-button {
    position: absolute;
    top: 12px;
    right: 20px;
    border-radius: 8px;
    box-shadow: 2px 4px 0px rgba(0, 0, 0, 0.1);
    padding: 4px 5px;
    font-size: 25px;
    cursor: pointer;

    &:hover {
      color: brown;
      box-shadow: 2px 4px 0px rgba(225, 0, 0, 0.1);
      transition: color 0.3s ease, box-shadow 0.3s ease;
    }
  }

  &__submit-button {
    position: absolute;
    bottom: 20px;
    right: 5%;
    border-radius: 10px;
    box-shadow: 2px 4px 0px rgba(0, 0, 0, 0.1);
    padding: 10px;
    color: midnightblue;
    cursor: pointer;
    font-family: sans-serif;
    letter-spacing: 0.00938em;

    &:hover {
      color: mediumblue;
      box-shadow: 2px 4px 0px rgba(0, 0, 225, 0.1);
      transition: color 0.3s ease, box-shadow 0.3s ease;
    }
  }
}

.box {
  height: 100%;
  width: 100%;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  &__title {
    font: 16px sans-serif;
    font-size: 1.4rem;
    width: 100%;
    text-align: left;
    letter-spacing: 0.00938em;
  }

  &__time {
    font: 16px sans-serif;
    font-size: 1.2rem;
    width: 100%;
    text-align: right;
  }

}

.modal{
  color: darkgrey;

&__age {
  border: none;
  border-block-end: 1px solid rgb(133, 133, 133);
  height: 40px;
  margin: 12px;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.4375em;
  letter-spacing: 0.00938em;
  color: rgb(133, 133, 133);
  box-sizing: border-box;
  display: inline-flex;
  padding: 10px;
}

  &__phone{
    border: none;
    border-block-end: 1px solid rgba(133, 133, 133);
    height: 40px;
    margin: 0 12px;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.4375em;
    letter-spacing: 0.00938em;
    text-decoration-color: rgb(133, 133, 133, 0.2);

    box-sizing: border-box;
    padding: 10px;
  }
}

.remember-me{
  height: 40px;
  margin: 0 12px;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.4375em;
  letter-spacing: 0.00938em;
  color: rgb(133, 133, 133);
  box-sizing: border-box;
  padding: 20px;
  font-family: Arial, sans-serif;

  &__field{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__checkbox{
    margin-right: 10px;
  }
}