.event-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1rem;
  padding: 2rem;
}

.event-card {
  //background-color: whitesmoke;
  //border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  cursor: pointer;

  &:hover {
    transform: scale(1.05);
    transition: transform 0.4s ease;
  }

  &__image {
    width: 100%;
    height: 150px;
    object-fit: cover;
    transition: transform 0.3s ease;
  }

  &__name {
    padding-top: 12px;
    margin: 0.5rem;
    font: 16px Macan, Helvetica Neue, Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    color: rgb(113, 113, 113);
    align-items: center;
  }

  &__description {
    margin: 0.5rem;
    font: 14px sans-serif;
    color: #323232;
  }

  &__time {
    width: 100%;
    text-align: center;
    color: slategrey;
    font: 16px sans-serif;
  }

  &__user-icons {
    margin-top: 0.5rem;
    width: 100%;
    text-align: center;
  }
}

p {
  text-align: center;
  font-size: 1.0rem;
  margin: 10px 0;
}

.button {
  font: 400 16px / 24px Macan, Helvetica Neue, Helvetica, Arial, sans-serif;

  &__book {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }
}