.event-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1rem;
  padding: 2rem;
}

.event-card {
  background-color: whitesmoke;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  cursor: pointer;




  &:hover {
    transform: scale(1.05);
    transition: transform 0.4s ease;
  }

  &__participants {
    font-size: 1.2rem;

  }

  &__image {
    width: 100%;
    height: 150px;
    object-fit: cover;
    margin-top: 20px;
    transition: transform 0.3s ease;
  }

  &__title {
    font-family: serif;
    font-size: 1rem;
    margin: 2px 2px;
  }

  &__description {
    margin-top: 0.5rem;
    font-size: 0.9rem;
  }

  &__time {
    margin-top: 0.5rem;
    width: 100%;
    text-align: center;
  }

  &__user-icons {
    margin-top: 0.5rem;
    width: 100%;
    text-align: center;
  }
}

p {
  font-family: serif;
  text-align: center;
  font-size: 1.0rem;
  margin: 10px 0;
}

.button {
  font-family: sans-serif;

  &__book {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }
}