.event-grid{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1rem;
  padding: 2rem;
  background-color: #f9f9f9;
}

.event-card {
  background-color: whitesmoke;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 2rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  &__image{
    width: 100%;
    height: 150px;
    object-fit: cover;
    margin-top: 20px;
}

  &__name {
    font-family: serif;
    font-size: 1rem;
    margin: 2px 2px;
    color: #333;
  }

  &__description {
    font-size: 0.9rem;
    color: gray;
    margin: 10px 0;
  }

  &__schedule{
    font-size: 0.9rem;
    color: gray;
    margin: 10px 0;
  }
}

p{
  font-family: serif;
  text-align: center;
}